<div class="contact">
    <div class="contact-container">
        <div class="contact-text">
            <div class="contact-title">
                <h1>Contact us</h1>
            </div>
            <div class="contact-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ea ipsum animi corrupti odio perspiciatis.</p>
            </div>
        </div>
        <div class="contact-form">
            <form>
                <div class="input">
                    <input class="input-field" id="firstname" name="firstname" type="text" required >
                    <label class="label-field" for="firstname">First name</label>
                </div>
                <div class="input">
                    <input class="input-field" id="lastname" name="lastname" type="text" required >
                    <label class="label-field" for="lastname">Last name</label>
                </div>
                <div class="input">
                    <input class="input-field" id="email" name="email" type="email" required >
                    <label class="label-field" for="email">Email address</label>
                </div>
                <input type="submit" value="Get in touch" class="btn">
            </form>
        </div>
    </div>
</div>