<app-navbar></app-navbar>
<div *ngIf="showModal" class="modal">
  <app-login-modal></app-login-modal>
</div>
<div *ngIf="productCounter" class="sticky-navbar">
  <div class="sticky-navbar-container">
    <div (click)="goCheckout()" class="checkout option">
      <fa-icon class="icon" [icon]="faCart"></fa-icon>
      <p>Detalii cos</p>
    </div>
    <div (click)="goDelivery()" class="delivery option">
      <fa-icon class="icon" [icon]="faDelivery"></fa-icon>
      <p>Livrare</p>
    </div>
    <div (click)="goPayment()" class="payment option">
      <fa-icon class="icon" [icon]="faPayment"></fa-icon>
      <p>Plata</p>
    </div>
  </div>
</div>
<div class="cart">
  <div *ngIf="!productCounter" class="empty-cart-container">
    <h1 class="">Cos de cumparaturi gol <span><fa-icon [icon]="faCart"></fa-icon></span></h1>
    <p routerLink="/products/variants">Incepe cumparaturile acum</p>
  </div>
  <div *ngIf="productCounter" id="targetCheckout" class="cart-container">
    <h1>Totalul cosului este {{cartTotal$ | async}} Lei</h1>
    <div *ngIf="foundCart">
      <div *ngFor="let productEntry of cartEntries$ | async">
        <div *ngFor="let product of productEntry.productVariants; let i = index" class="product-details">
          <div class="product-image">
            <img src='{{productEntry.productVariants[i].photoUrl}}' alt="imagine">
          </div>
          <div class="product-description">
            <p>{{productEntry.productVariants[i].description}}</p>
            <div class="product-attributes">
              <ul>
                <li>Pret: {{productEntry.productVariants[i].price}} Lei</li>
                <li>Cantitate: {{productEntry.quantity}} <span class="quantity-modify"><span
                  (click)="incrementQuantity(productEntry)"><fa-icon
                  [icon]="faPlus"></fa-icon></span><span>|</span><span (click)="decrementQuantity(productEntry)"><fa-icon
                  [icon]="faMinus"></fa-icon></span></span></li>
              </ul>
            </div>
          </div>
          <div class="btn-delete">
            <span (click)="deleteCartEntry(productEntry.id)"><fa-icon [icon]="faTrash"></fa-icon></span>
          </div>
        </div>
      </div>
    </div>
    <div class="checkout-details">
      <div class="shipping">
        <p>Transport</p>
        <div class="price">
          <p>GRATUIT</p>
        </div>
      </div>
      <div class="subtotal">
        <p>Subtotal</p>
        <div class="price">
          <p>{{cartTotal$ | async}} Lei</p>
        </div>
      </div>
      <div class="total">
        <p>Total</p>
        <div class="price">
          <p>{{cartTotal$ | async}} Lei</p>
        </div>
      </div>
    </div>
    <div *ngIf="productCounter" class="checkout-btn">
      <button class="btn" (click)="toggleDeliveryForm()">Cumpara</button>
    </div>
    <!-- <div *ngIf="!productCounter" class="empty-cart">
        <p>Your cart is empty</p>
    </div> -->
    <div *ngIf="isShowDeliveryForm" id="targetDelivery" class="forms">
      <h1>Transport</h1>
      <form *ngFor="let address of loggedUser.addresses; let j = index" class="form">
        <div class="form-container">
          <h2>Date client</h2>
          <div class="user-delivery-details">
            <div class="user-info">
              <h2>
                <fa-icon class="user-icon" [icon]="faUser"></fa-icon>
                {{loggedUser.firstName}} <span>{{loggedUser.lastName}}</span></h2>
              <p><span>Telefon: </span> {{loggedUser.phoneNumber}}</p>
              <p><span>Email: </span> {{loggedUser.email}}</p>
              <p><span>Livrare: </span> {{loggedUser.defaultDeliveryAddress}}</p>
              <p><span>Facturare: </span> {{loggedUser.defaultBillingAddress}}</p>
            </div>
            <div class="user-info-update">
              <p routerLink="/edit/profile">Editeaza</p>
            </div>
          </div>
          <h2>Adresa livrare</h2>
          <div class="user-delivery-details user-delivery-address-details">
            <div class="user-info">
              <h2>
                <fa-icon class="user-icon" [icon]="faHome"></fa-icon>
                {{address.streetLine}}</h2>
              <p><span>Livrare: </span>{{loggedUser.defaultDeliveryAddress}}</p>
              <p><span>Cod postal: </span>{{address.postalCode}}</p>
              <p><span>Tara: </span>{{address.country}}</p>
            </div>
            <div class="user-info-update">
              <p routerLink="/edit/address">Editeaza</p>
            </div>
          </div>
        </div>
      </form>
      <button (click)="togglePaymentForm()" class="btn">Continua catre plata
        <fa-icon class="icon" [icon]="faPayment"></fa-icon>
      </button>
    </div>
    <div *ngIf="isShowPaymentForm" id="targetPayment" class="forms">
      <h1>Plata</h1>
      <div [formGroup]="form" class="form">
        <div class="form-container">
          <div>
            <mat-form-field style="width: 500px">
              <mat-label>Numar card</mat-label>
              <input type="text" matInput [formControl]="form.controls.cardNumber" aria-label="Numar card">
              <mat-error *ngIf="form.controls.cardNumber.invalid">
                Numar card este obligatoriu
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field style="width: 500px">
              <mat-label>Detinator card</mat-label>
              <input type="text" matInput [formControl]="form.controls.cardHolderName" aria-label="Detinator card">
              <mat-error *ngIf="form.controls.cardHolderName.invalid">
                Detinator card este obligatoriu
              </mat-error>
            </mat-form-field>
          </div>
          <div class="card-expiry-dates">
            <div>
              <mat-form-field style="width: 500px">
                <mat-label>Luna expirare</mat-label>
                <input type="number" matInput [formControl]="form.controls.expiryMonth" aria-label="Luna expirare">
                <mat-error *ngIf="form.controls.expiryMonth.invalid">
                  Luna expirare card este obligatorie
                </mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field style="width: 500px">
                <mat-label>An expirare</mat-label>
                <input type="number" matInput [formControl]="form.controls.expiryYear" aria-label="An expirare">
                <mat-error *ngIf="form.controls.expiryYear.invalid">
                  An expirare card este obligatoriu
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div>
            <mat-form-field style="width: 500px">
              <mat-label>CVV</mat-label>
              <input type="number" matInput [formControl]="form.controls.cvv" aria-label="CVV">
              <mat-error *ngIf="form.controls.cvv.invalid">
                CVV card este obligatoriu
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <button (click)="placeOrder()" class="btn">Confirma comanda
        <fa-icon class="icon" [icon]="faCheck"></fa-icon>
      </button>
    </div>
  </div>
</div>
<app-footer></app-footer>
