<app-navbar></app-navbar>
<div class="about">
    <div class="about-container">
        <div class="about-text">
            <div class="about-title">
                <h1>Despre noi</h1>
            </div>
            <div class="about-content">
                <p>Pasionați de tehnologie, căutăm să aducem inovația în fiecare aspect al vieții tale digitale. Jucăm 
                    un rol esențial în transformarea modului în care experimentezi tehnologia, oferindu-ți produse 
                    de top și soluții de ultimă generație. Bine ați venit în lumea noastră, unde viitorul se 
                    întâlnește cu prezentul.</p>
            </div>
        </div>
    </div>
    <div class="about-brands">
        <div class="about-brands-title">
            <h1>Colaboratorii nostri</h1>
        </div>
        <div class="about-brands-brands">
            <div class="brand">
                <div class="brand-image">
                    <h1>Apple</h1>
                </div>
                <div class="brand-name">
                    <h2>Apple California Inc.</h2>
                </div>
            </div>
            <div class="brand">
                <div class="brand-image">
                    <h1>Samsung</h1>
                </div>
                <div class="brand-name">
                    <h2>Samsung Tokyo</h2>
                </div>
            </div>
            <div class="brand">
                <div class="brand-image">
                    <h1>Dell</h1>
                </div>
                <div class="brand-name">
                    <h2>Dell</h2>
                </div>
            </div>
            <div class="brand">
                <div class="brand-image">
                    <h1>Nvidia</h1>
                </div>
                <div class="brand-name">
                    <h2>Nvidia</h2>
                </div>
            </div>
            <div class="brand">
                <div class="brand-image">
                    <h1>Asus</h1>
                </div>
                <div class="brand-name">
                    <h2>Asus Gaming</h2>
                </div>
            </div>
            <div class="brand">
                <div class="brand-image">
                    <h1>HP</h1>
                </div>
                <div class="brand-name">
                    <h2>HP Computers</h2>
                </div>
            </div>
            <div class="brand">
                <div class="brand-image">
                    <h1>JBL</h1>
                </div>
                <div class="brand-name">
                    <h2>JBL Brand</h2>
                </div>
            </div>
            <div class="brand">
                <div class="brand-image">
                    <h1>Zoopie</h1>
                </div>
                <div class="brand-name">
                    <h2>Zoopie</h2>
                </div>
            </div>
            <div class="brand">
                <div class="brand-image">
                    <h1>Huawei</h1>
                </div>
                <div class="brand-name">
                    <h2>Huawei</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>