<div class="footer">
    <div class="footer-container">
        <div class="footer-column">
            <h1>Companie</h1>
            <div class="footer-links">
                <ul class="links">
                    <li><a href="#">Despre noi</a></li>
                    <li><a href="#">Serviciile noastre</a></li>
                    <li><a href="#">Politica confidențialitate</a></li>
                    <li><a href="#">Program de afiliere</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-column">
            <h1>Obtine ajutor</h1>
            <div class="footer-links">
                <ul class="links">
                    <li><a href="#">Intrebari frecvente</a></li>
                    <li><a href="#">Transport</a></li>
                    <li><a href="#">Statusul comenzii</a></li>
                    <li><a href="#">Optiuni de plata</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-column">
            <h1>Magazin online</h1>
            <div class="footer-links">
                <ul class="links">
                    <li><a href="#">Laptopuri</a></li>
                    <li><a href="#">Telefoane</a></li>
                    <li><a href="#">Casti</a></li>
                    <li><a href="#">Monitoare</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-column">
            <h1>Urmareste-ne</h1>
            <div class="footer-links">
                <ul class="links-socials">
                    <li><a href="#"><fa-icon [icon]="faFacebook" class="icon"></fa-icon></a></li>
                    <li><a href="https://www.instagram.com/event.planner.labalamuc/"><fa-icon [icon]="faInstagram" class="icon"></fa-icon></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
