<nav class="navbar">
  <div class="container">
    <div class="logo">
      <a href=""><h1>Zona<span>AC</span></h1></a>
    </div>
    <div class="links">
      <ul>
        <li class="nav-link">
          <a class="products nav-link-products" routerLink="/products/variants">Produse</a>
          <!-- <div class="dropdown-content">
              <div class="dropdown-container">
                  <a class="products-link" href="">Laptops</a>
                  <a class="products-link" href="">Phones</a>
                  <a class="products-link" href="">Headphones</a>
                  <a class="products-link" href="">Desktops</a>
              </div>
          </div> -->
        </li>
        <!-- <li class="nav-link"><a routerLink="/contact">Contact</a></li> -->
        <li class="nav-link"><a routerLink='/about'>Despre</a></li>
        <li class="nav-link"><a routerLink='/blog'>Blog</a></li>
        <li *ngIf="loggedUser===null" class="nav-link"><a routerLink='/login'>Login</a></li>
        <li *ngIf="loggedUser!==null" (click)="logout()" class="nav-link"><a>Logout</a></li>
        <li *ngIf="loggedUser!==null" class="nav-link"><a href="/profile">Profil</a></li>
        <li class="nav-link cart"><a routerLink='/cart'>
          <fa-icon class="icon" [icon]="faCart"></fa-icon>
          Cos <span>{{cartQuantity$ | async}}</span></a></li>
        <li *ngIf="role==='admin'" class="nav-link"><a href="/admin">Admin</a></li>
      </ul>
    </div>
    <div class="hamburger-links">
      <fa-icon [icon]="faHamburger"></fa-icon>
    </div>
  </div>
</nav>

<!-- <router-outlet></router-outlet> -->
