<app-navbar></app-navbar>
<div *ngIf="loggedUser" class="address">
    <div class="profile-container">
        <div *ngFor="let address of loggedUser.addresses; let i = index" class="current-profile">
            <div class="user-name">
                <h1>{{loggedUser.lastName}} <span>{{loggedUser.firstName}}</span></h1>
            </div>
            <div class="user-details">
                <p><span>Street Line:</span> {{address.streetLine}}</p>
                <p><span>City:</span> {{address.city}}</p>
                <p><span>Postal Code:</span> {{address.postalCode}}</p>
                <p><span>Country:</span> {{address.country}}</p>
            </div>
        </div>
        <div class="edit-address">
            <form>
                <div>
                  <mat-form-field>
                    <mat-label>Strada</mat-label>
                    <input type="text" matInput [formControl]="form.controls.streetLine">
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field>
                    <mat-label>Oras</mat-label>
                    <input type="text" matInput [formControl]="form.controls.city">
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field>
                    <mat-label>Cod postal</mat-label>
                    <input type="text" matInput [formControl]="form.controls.postalCode">
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field>
                    <mat-label>Tara</mat-label>
                    <input type="text" matInput [formControl]="form.controls.country">
                  </mat-form-field>
                </div>
                <button (click)="updateAddress()">Editati</button>
            </form>
        </div>
    </div>
</div>

