.admin {
  font-family: "Poppins", sans-serif;
}

.admin-container {
  padding: 50px;
}

.admin-container h1 {
  text-align: center;
}


.admin-container .entity {
  padding: 43px;
}

.admin-container .entity .entity-actions {
  display: flex;
  justify-content: space-between;
}
