<app-navbar></app-navbar>
<div class="homepage">
    <div class="homepage-container">
        <div class="homepage-title">
            <!-- <h1>DD<span>Store</span></h1> -->
            <h1 data-item="Home of all technologies">Descopera noi dimensiuni tehnologice</h1>
            <p>Indiferent dacă sunteți un pasionat de tehnologie, un profesionist modern sau pur și simplu vă bucurați să fiți mereu conectat
                pentru lumea din jurul tău, avem tot ce ai nevoie pentru a-ți îmbunătăți experiența digitală.</p>
        </div>
        <div class="products-showcase">
            <h1>Produsele noastre</h1>
            <div class="products">
                <div class="product">
                    <img src="https://iili.io/Hy0RIe4.png" alt="">
                    <p>Experimentează libertatea și mobilitatea cu gama noastră de laptopuri performante. De la procesoare 
                        ultrarapide la designuri ultra-subțiri și ecrane vibrant colorate, avem tot ce îți dorești, 
                        indiferent dacă ești un profesionist în mișcare sau un gamer pasionat.</p>
                </div>
                <div class="product">
                    <p>Descoperă viitorul comunicării mobile cu telefoanele noastre inteligente. Cu camere foto de 
                        înaltă rezoluție, ecrane amoled strălucitoare și tehnologie de vârf, vei fi mereu conectat 
                        și în tendință.</p>
                    <img src="https://iili.io/Hy0AZzB.png" alt="">
                </div>
                <div class="product">
                    <img src="https://iili.io/Hy0ADs1.png" alt="">
                    <p>Ascultă muzica și experimentează sunetul la calitate maximă cu gamele noastre de casti audio 
                        premium. Design ergonomic, anulare activă a zgomotului și tehnologii avansate pentru o experiență 
                        auditivă de neegalat.</p>
                </div>
                <div class="product">
                    <p>Transformă-ți spațiul de joc într-un loc de aventuri epice cu monitoarele noastre de gaming. 
                        Ecrane cu rată de refresh ridicată, rezoluție impresionantă și tehnologii avansate pentru o 
                        experiență de joc imersivă.</p>
                    <img src="https://iili.io/Hy0AtWP.png" alt="">
                </div>
            </div>
        </div>
        <div class="reviews-showcase">
            <h1>Recenziile clientilor</h1>
            <div class="reviews">
                <div class="review">
                    <span><fa-icon [icon]="faStar"></fa-icon><fa-icon [icon]="faStar"></fa-icon><fa-icon [icon]="faStar"></fa-icon><fa-icon [icon]="faStar"></fa-icon><fa-icon [icon]="faStar"></fa-icon></span>
                    <h2>Ioana</h2>
                    <p><i>" Laptopul achiziționat de la DDStore este pur și simplu senzațional! Performanță incredibilă, 
                        design subțire și ușor, iar bateria ține mult mai mult decât mă așteptam. Sunt extrem de mulțumit 
                        de achiziție și recomand cu căldură DDStore tuturor celor în căutare de calitate și inovație. "</i></p>
                </div>
                <div class="review">
                    <span><fa-icon [icon]="faStar"></fa-icon><fa-icon [icon]="faStar"></fa-icon><fa-icon [icon]="faStar"></fa-icon><fa-icon [icon]="faStar"></fa-icon></span>
                    <h2>Marcel</h2>
                    <p><i>" Castile audio achiziționate de la DDStore oferă un sunet uimitor și confortabil, iar designul 
                        este plăcut ochiului. Cu toate acestea, am observat unele probleme minore de conectivitate 
                        Bluetooth. În general, sunt mulțumit, dar sper că vor rezolva această problemă în viitoarele 
                        actualizări. "</i></p>
                </div>
                <div class="review">
                    <span><fa-icon [icon]="faStar"></fa-icon><fa-icon [icon]="faStar"></fa-icon><fa-icon [icon]="faStar"></fa-icon><fa-icon [icon]="faStar"></fa-icon><fa-icon [icon]="faStar"></fa-icon></span>
                    <h2>Mihai</h2>
                    <p><i>" Telefonul inteligent cumpărat de la DDStore a depășit toate așteptările mele. Camera foto oferă 
                        imagini clare și detaliate, iar performanța generală a dispozitivului este remarcabilă. Ecranul 
                        vibrant și tehnologia avansată fac acest telefon o alegere excelentă pentru oricine caută un 
                        dispozitiv de top. "</i></p>
                </div>
                <div class="review">
                    <span><fa-icon [icon]="faStar"></fa-icon><fa-icon [icon]="faStar"></fa-icon><fa-icon [icon]="faStar"></fa-icon><fa-icon [icon]="faStar"></fa-icon></span>
                    <h2>Darius</h2>
                    <p><i>" Monitorul de gaming SuperTech este excelent pentru experiențe immersive, iar calitatea imaginii 
                        este fantastică. Cu toate acestea, setarea inițială a fost puțin mai complicată decât mă 
                        așteptam, și documentația furnizată nu a fost foarte detaliată. În ciuda acestor mici 
                        inconveniente, sunt încântat de performanța sa generală. "</i></p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>