<app-navbar></app-navbar>
<div class="review">
  <div class="review-container">
    <h1>Adauga recenzie</h1>
    <form [formGroup]="form">
      <div>
        <mat-form-field style="width: 500px">
          <mat-label>Nume</mat-label>
          <input type="text" matInput [formControl]="form.controls.name" aria-label="Nume">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field style="width: 500px">
          <mat-label>Subiect</mat-label>
          <input type="text" matInput [formControl]="form.controls.subject" aria-label="Subiect">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field style="width: 500px">
          <mat-label>Descriere</mat-label>
          <textarea type="text" cols="20" rows="5" matInput [formControl]="form.controls.description" aria-label="Descriere"></textarea>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" (click)="submit()">Salveaza</button>
    </form>
  </div>
</div>
<app-footer></app-footer>
