<!-- <div class="success-nav">
    <div class="success-nav-container">
        <div class="logo">
            <h1 href=""><h2>DD<span>Store</span></h2></h1>
        </div>
    </div>
</div> -->
<div class="success">
    <div class="success-details">
        <span><fa-icon [icon]="faCheck"></fa-icon></span>
        <div class="success-details-text">
            <h2>Multumim pentru comanda!</h2>
            <p>Comanda cu numarul {{orderNumber.trunc(number)}} a fost plasata cu succes si va fi expediata in cel mai scurt timp cu putinta.</p>
            <p routerLink="/products/variants" class="go-back">Continuati cumparaturile</p>
        </div>
    </div>
</div>
