<app-navbar></app-navbar>
<div *ngIf="loggedUser" class="profile">
  <div class="profile-container">
    <div class="current-profile">
      <div class="user-name">
        <h1>{{loggedUser.lastName}} <span>{{loggedUser.firstName}}</span></h1>
      </div>
      <div class="user-details">
        <p><span>Email:</span> {{loggedUser.email}}</p>
        <p><span>Phone:</span> {{loggedUser.phoneNumber}}</p>
        <p><span>Billing:</span> {{loggedUser.defaultBillingAddress}}</p>
        <p><span>Delivery:</span> {{loggedUser.defaultDeliveryAddress}}</p>
      </div>
    </div>
    <div class="edit-profile">
      <form>
        <div>
          <mat-form-field>
            <mat-label>Nume</mat-label>
            <input type="text" matInput [formControl]="form.controls.firstName">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Prenume</mat-label>
            <input type="text" matInput [formControl]="form.controls.lastName">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="form.controls.email">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Parola</mat-label>
            <input type="password" matInput [formControl]="form.controls.password">
            <mat-error style="margin-top: 5px" *ngIf="form.controls.password.hasError('minlength')">Parola e prea scurta</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Telefon</mat-label>
            <input type="tel" matInput [formControl]="form.controls.phoneNumber">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Adresa livrare</mat-label>
            <input type="text" matInput [formControl]="form.controls.defaultDeliveryAddress">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Adresa facturare</mat-label>
            <input type="text" matInput [formControl]="form.controls.defaultBillingAddress">
          </mat-form-field>
        </div>
        <button mat-raised-button (click)="updateUser()">Salvati</button>
      </form>
    </div>
  </div>
</div>
